// Input

.input {
  height: 40px;
  max-width: 100%;
  padding: 11px;

  color: $color-text;

  border: 1px solid $color-border;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-animation;

  &:hover,
  &:focus {
    border-color: $color-secondary-darker;
  }

  &::placeholder {
    // color: $placeholder-color;
  }
}

/* input variants */
.input--light {
  color: $color-secondary-lighter;
  background-color: transparent;
  border-color: $color-secondary-lighter;
}

.input--large {
  height: 50px;
  padding: 15px;

  font-size: 16px;
}

.input--textarea {
  height: 120px;
  padding: 12px 16px;
  font-size: 14px;

  resize: none;
}

.input--has-icon {
  padding-left: 42px;
}
