<div class="modal modal--map" data-modal="3">
  <div class="modal__dialog">
    <button
      class="modal__close js-modal-close"
      type="button"
      aria-label="Close"
    >
      <svg width="30" height="30">
        <use href="./images/icons.svg#close" />
      </svg>
    </button>

    <iframe
      class="modal__map-frame"
      src="https://www.google.com/maps/d/embed?mid=11HDTq7frQ_TAvJkGwqWZfHpl9LnwDxk&ehbc=2E312F"
      width="100%"
      height="640"
    ></iframe>

    <a
      class="modal__map-zoom"
      href="https://www.google.com/maps/d/embed?mid=11HDTq7frQ_TAvJkGwqWZfHpl9LnwDxk&ehbc=2E312F"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Open Map</a
    >
  </div>
</div>
