<section class="about" id="how_it_is_made">
  <div class="about__container container">
    <p class="about__top-text top-text">tradition and love</p>
    <h2 class="about__title title">how it's made?</h2>
    <div class="about__flex">
      <picture class="about__picture">
        <source
          srcset="
            ../src/images/about/cow-mob.png    1x,
            ../src/images/about/cow-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ../src/images/about/cow-tablet.png    1x,
            ../src/images/about/cow-tablet@2x.png 2x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ../src/images/about/cow-desk.png    1x,
            ../src/images/about/cow-desk@2x.png 2x
          "
          media="(min-width: 1199px)"
        />

        <img
          src="../src/images/about/cow-desk.png"
          alt="cow and bio eco milk"
          width="501"
          height="501"
        />
      </picture>
      <div class="about__content">
        <p class="about__text about__text--main">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__text about__text--secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__text about__text--secondary">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button
          class="about__btn btn btn--bold btn--secondary js-open-modal"
          data-modal="2"
          type="button"
        >
          <span class="btn__text">Read more</span>
          <svg class="btn__icon" width="6" height="10">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
