<section class="advantages" id="about_us">
  <div class="container advantages__container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="grid grid--tablet-4 grid--desktop-3 advantages__list">
      <li class="grid__item advantages__item--milk advantages__item">
        <p class="advantages__title">
          <span class="js-count advantages__count">721</span>
        </p>
        <p class="advantages__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="grid__item advantages__item--apples advantages__item">
        <p class="advantages__title--after advantages__title">
          <span class="js-count advantages__count">16</span>
          <span class="js-kg advantages__kg">kg</span>
        </p>
        <p class="advantages__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="grid__item advantages__item--heart advantages__item">
        <p class="advantages__title">
          <span class="js-count advantages__count">84</span>
        </p>
        <p class="advantages__discription">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
