<!-- Contacts Section -->
<section class="contacts" id="contacts">
  <div class="container container--contacts">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <p class="contacts-list__link">cafe</p>
        <div class="contact-location">
          <p class="contact-location__label">Chicago</p>
          <p class="contact-location__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="schedule-list list">
          <li class="schedule-list__item">
            <p class="schedule-day">Monday - Friday</p>
            <p class="schedule-time">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="22:00">10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-day">Saturday - Sunday</p>
            <p class="schedule-time">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </p>
          </li>
        </ul>

        <div class="contact-info">
          <ul class="contact-info__list list">
            <li class="contact-info__item">
              <a href="tel:+610383766284" class="contact-info__link link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contact-info__item">
              <a
                href="mailto:info@devstudio.com"
                class="contact-info__link link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-list__item">
        <p class="contacts-list__link--foodtruck">food truck</p>
        <div class="contact-location">
          <p class="contact-location__label">Los Angeles</p>
          <p class="contact-location__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="schedule-list list">
          <li class="schedule-list__item">
            <p class="schedule-day">Monday - Friday</p>
            <p class="schedule-time">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="22:00">10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-day">Saturday - Sunday</p>
            <p class="schedule-time">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </p>
          </li>
        </ul>

        <div class="contact-info">
          <ul class="contact-info__list list">
            <li class="contact-info__item">
              <a href="tel:+610383766284" class="contact-info__link link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contact-info__item">
              <a
                href="mailto:info@devstudio.com"
                class="contact-info__link link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-list__item">
        <p class="contacts-list__link">cafe</p>
        <div class="contact-location">
          <p class="contact-location__label">New York</p>
          <p class="contact-location__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="schedule-list list">
          <li class="schedule-list__item">
            <p class="schedule-day">Monday - Friday</p>
            <p class="schedule-time">
              <time datetime="06:00">06:00 AM</time> -
              <time datetime="22:00">10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p class="schedule-day">Saturday - Sunday</p>
            <p class="schedule-time">
              <time datetime="08:00">08:00 AM</time> -
              <time datetime="16:00">16:00 PM</time>
            </p>
          </li>
        </ul>

        <div class="contact-info">
          <ul class="contact-info__list list">
            <li class="contact-info__item">
              <a href="tel:+610383766284" class="contact-info__link link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contact-info__item">
              <a
                href="mailto:info@devstudio.com"
                class="contact-info__link link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="btn-list list">
      <li class="btn-list__item">
        <a href="#" class="btn btn--bold">
          <span class="btn__text">Our Locations</span>
          <svg class="btn__icon" width="6" height="10">
            <use href="./images/icons.svg#arrow-right" />
          </svg>
        </a>
      </li>

      <li>
        <a href="" class="btn btn--secondary btn--bold">
          <span class="btn__text">Franchise</span>
          <svg class="btn__icon" width="6" height="10">
            <use href="./images/icons.svg#arrow-right" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
