<!-- Contacts Section -->
<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <p>cafe</p>
        <div class="contact-location">
          <h3 class="contact-location__label">Chicago</h3>
          <p class="contact-location__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="schedule-list">
          <li class="schedule-list__item">
            <p>
              Monday - Friday <br />
              <time>06:00 AM</time> - <time>10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p>
              Saturday - Sunday <br />
              <time>06:00 AM</time> - <time>10:00 PM</time>
            </p>
          </li>
        </ul>

        <div class="contact-info">
          <ul class="contact-info__list list">
            <li class="contact-info__item">
              <a href="tel:+610383766284" class="contact-info__link link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contact-info__item">
              <a
                href="mailto:info@devstudio.com"
                class="contact-info__link link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-list__item">
        <a
          class="contacts-list__link link"
          href="https://www.youtube.com/watch?v=vRXZj0DzXIA"
          target="_blank"
          rel="noopener noreferrer"
          >food truck</a
        >
        <div class="contact-location">
          <h3 class="contact-location__label">Los Angeles</h3>
          <p class="contact-location__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="schedule-list">
          <li class="schedule-list__item">
            <p>
              Monday - Friday <br />
              <time>06:00 AM</time> - <time>10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p>
              Saturday - Sunday <br />
              <time>06:00 AM</time> - <time>10:00 PM</time>
            </p>
          </li>
        </ul>

        <div class="contact-info">
          <ul class="contact-info__list list">
            <li class="contact-info__item">
              <a href="tel:+610383766284" class="contact-info__link link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contact-info__item">
              <a
                href="mailto:info@devstudio.com"
                class="contact-info__link link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="contacts-list__item">
        <a
          class="contacts-list__link link"
          href="https://goo.gl/maps/7yCw5Vtkymxe8ruT9"
          target="_blank"
          rel="noopener noreferrer"
          >cafe</a
        >
        <div class="contact-location">
          <h3 class="contact-location__label">New York</h3>
          <p class="contact-location__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="schedule-list">
          <li class="schedule-list__item">
            <p>
              Monday - Friday <br />
              <time>06:00 AM</time> - <time>10:00 PM</time>
            </p>
          </li>
          <li class="schedule-list__item">
            <p>
              Saturday - Sunday <br />
              <time>06:00 AM</time> - <time>10:00 PM</time>
            </p>
          </li>
        </ul>

        <div class="contact-info">
          <ul class="contact-info__list list">
            <li class="contact-info__item">
              <a href="tel:+610383766284" class="contact-info__link link">
                +61(0) 383 766 284</a
              >
            </li>
            <li class="contact-info__item">
              <a
                href="mailto:info@devstudio.com"
                class="contact-info__link link"
              >
                noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <ul class="btn-list list">
    <li class="btn-list__item">
      <button type="button">Our Locations</button>
    </li>

    <li class="btn-list__item">
      <button type="button">Franchise</button>
    </li>
  </ul>
</section>
