<div class="cookies-popup js-cookies-popup">
  <div class="cookies-popup__header">
    <img
      class="cookies-popup__img"
      src="https://cdn-icons-png.flaticon.com/512/1047/1047711.png"
      alt="cookies"
      height="50"
      width="50"
    />
    <h3 class="cookies-popup__title">Cookies Policy</h3>
  </div>
  <div class="cookies-popup__body">
    <p class="cookies-popup__text">
      We use cookies for improving user experience, analytics and marketing.
      <a class="cookies-popup__link" href="#"> Privacy&nbsp;Policy </a>
    </p>
    <button class="btn btn--bold cookies-popup__btn js-cookies-accept">
      That's fine!
    </button>
  </div>
</div>
