<!-- Customer Reviews Section -->

<section class="customer-reiews">
  <div class="container">
    <h2 class="visually-hidden">customer-reiews</h2>

    <picture class="customer-reiews__logo">
      <source
        srcset="
          ../images/customer_reviews/emily.png   1x,
          ..images/customer_reviews/emily@2x.png 2x
        "
      />
      <img
        src="../images/customer-reviews/emily.png"
        alt="Customer girl foto"
      />
    </picture>

    <div class="customer-reiews__quote">
      <p class="customer-reiews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
  </div>
</section>
