<section class="customer-reiews">
  <h2 class="visually-hidden">customer-reiews</h2>
  <div class="container customer-reiews__container">
    <div class="js-review-slider">
      <div class="customer-reiews__item">
        <picture class="customer-reiews__logo">
          <source
            srcset="
              ./images/customer_reviews/emily.png    1x,
              ./images/customer_reviews/emily@2x.png 2x
            "
          />
          <img
            src="./images/customer_reviews/emily.png"
            alt="Customer girl foto"
            height="85"
            width="85"
          />
        </picture>

        <div class="customer-reiews__quote">
          <svg width="54" height="40" class="customer-reiews__quote-icon">
            <use href="./images/icons.svg#quotes"></use>
          </svg>

          <p class="customer-reiews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <p class="customer-reiews__name">Emily, Los Angeles</p>
      </div>

      <div class="customer-reiews__item">
        <picture class="customer-reiews__logo">
          <source
            srcset="
              ./images/customer_reviews/jaine.png    1x,
              ./images/customer_reviews/jaine@2x.png 2x
            "
          />
          <img
            src="./images/customer_reviews/jaine.png"
            alt="Customer girl foto"
            height="85"
            width="85"
          />
        </picture>

        <div class="customer-reiews__quote">
          <svg width="54" height="40" class="customer-reiews__quote-icon">
            <use href="./images/icons.svg#quotes"></use>
          </svg>

          <p class="customer-reiews__text">
            Magni obcaecati dolor sit amet consectetur adipisicing elit.
            Possimus pariatur quis obcaecati, debitis optio ex. Magni esse, eum
            vel quo corrupti natus!
          </p>
        </div>

        <p class="customer-reiews__name">Jaine, New York</p>
      </div>

      <div class="customer-reiews__item">
        <picture class="customer-reiews__logo">
          <source
            srcset="
              ./images/customer_reviews/loraine.png    1x,
              ./images/customer_reviews/loraine@2x.png 2x
            "
          />
          <img
            src="./images/customer_reviews/loraine.png"
            alt="Customer girl foto"
            height="85"
            width="85"
          />
        </picture>

        <div class="customer-reiews__quote">
          <svg width="54" height="40" class="customer-reiews__quote-icon">
            <use href="./images/icons.svg#quotes"></use>
          </svg>

          <p class="customer-reiews__text">
            Soluta labore, ratione sit amet consectetur adipisicing elit.
            Officiis blanditiis non dolor labore voluptatem quod consequuntur
            nostrum voluptatibus repellendus libero, pariatu.
          </p>
        </div>

        <p class="customer-reiews__name">Loraine, Detroit</p>
      </div>
    </div>
  </div>
</section>
