<!-- Page Footer -->
<section class="footer">
    <div class="container footer-container">
        <div class="footer__left">
            <h3 class="footer__logo-top">homemade ice cream made</h3>
            <h2 class="footer__logo-bottom">with passion</h2>
        </div>
        <div class="footer__right">
            <ul class="social__list">
                <li class="social__item">
                    <a href="http://github.com" target="_blank" rel="noopener noreferrer nofollw"
                        class="social__link social__link--footer">
                        <svg class="social__icon">
                            <use href="./images/icons.svg#github"></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a href="http://web.telegramm.org" target="_blank" rel="noopener noreferrer nofollw"
                        class="social__link social__link--footer">
                        <svg class="social__icon">
                            <use href="./images/icons.svg#telegram"></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a href="http://facebook.com" target="_blank" rel="noopener noreferrer nofollw"
                        class="social__link social__link--footer">
                        <svg class="social__icon">
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <p class="footer__text">Feel free to contact
                <a href="tel:+610383766284" class="footer__tel"> +61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    <div class="licence">
        <div class="container">
            <div class="licence__top">
                <p class="licence__text">© 2022 - IceCream. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>