<section class="gallery">
  <div class="container container--no-paddings">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
        >
          <source
            srcset="
              ./images/gallery/foto1-desk.png    1x,
              ./images/gallery/foto1-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto1-tab.png    1x,
              ./images/gallery/foto1-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/foto1-mob.png" alt="ice cream dish" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
        >
          <source
            srcset="
              ./images/gallery/foto2-desk.png    1x,
              ./images/gallery/foto2-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto2-tab.png    1x,
              ./images/gallery/foto2-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/foto2-mob.png" alt="ice cream in hand" />
        </picture>
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
          data-aos-delay="300"
        >
          <source
            srcset="
              ./images/gallery/foto3-desk.png    1x,
              ./images/gallery/foto3-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto3-tab.png    1x,
              ./images/gallery/foto3-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/foto3-mob.png" alt="raspberry ice cream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
          data-aos-delay="200"
        >
          <source
            srcset="
              ./images/gallery/foto4-desk.png    1x,
              ./images/gallery/foto4-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto4-tab.png    1x,
              ./images/gallery/foto4-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/foto4-mob.png"
            alt="variety of ice cream"
          />
        </picture>
        <picture
          class="gallery__pic gallery__pic--w50"
          data-aos="zoom-in"
          data-aos-duration="1500"
        >
          <source
            srcset="
              ./images/gallery/foto5-desk.png    1x,
              ./images/gallery/foto5-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto5-tab.png    1x,
              ./images/gallery/foto5-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/foto5-mob.png"
            alt="smilling girl with ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
          data-aos-delay="300"
        >
          <source
            srcset="
              ./images/gallery/foto6-desk.png    1x,
              ./images/gallery/foto6-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto6-tab.png    1x,
              ./images/gallery/foto6-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/foto6-mob.png"
            alt="hand puts berries on ice cream"
          />
        </picture>
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
          data-aos-delay="150"
        >
          <source
            srcset="
              ./images/gallery/foto7-desk.png    1x,
              ./images/gallery/foto7-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto7-tab.png    1x,
              ./images/gallery/foto7-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/foto7-mob.png"
            alt="ice cream in hand on the background of the city"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
          data-aos-delay="250"
        >
          <source
            srcset="
              ./images/gallery/foto8-desk.png    1x,
              ./images/gallery/foto8-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto8-tab.png    1x,
              ./images/gallery/foto8-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/foto8-mob.png" alt="dog licks ice cream" />
        </picture>
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
        >
          <source
            srcset="
              ./images/gallery/foto9-desk.png    1x,
              ./images/gallery/foto9-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto9-tab.png    1x,
              ./images/gallery/foto9-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/foto9-mob.png" alt="ice cream cocktail" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture
          class="gallery__pic"
          data-aos="zoom-in"
          data-aos-duration="1500"
          data-aos-delay="300"
        >
          <source
            srcset="
              ./images/gallery/foto10-desk.png    1x,
              ./images/gallery/foto10-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/foto10-tab.png    1x,
              ./images/gallery/foto10-tab@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/foto10-mob.png" alt="ice cream cake" />
        </picture>
      </li>
    </ul>
  </div>
</section>
