<!-- Gallery Section -->
<section class="gallery">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
    </ul>
  </div>
</section>
