<!-- Page Header -->
<header class="header">
  <div class="container header__container">

    <nav class="nav">

      <!-- Logo -->
    <a href="/src/index.html" class="logo">
      <svg class="logo__thumb" width="199" height="50">
        <use class="logo__icon" href="/src/images/icons.svg#logo"></use>
      </svg>
    </a>
    
      <!-- Menu open-close button -->
      <button
          type="button"
          class="nav__button"
          aria-expanded="false"
          aria-controls="nav__menu"
          data-menu-button
        >
          <svg width="20" height="20" aria-label="Mobile menu toggle">
            <use
            class="nav__icon nav__icon--menu"
            href="/src/images/icons.svg#burger"
          ></use>
            <use
            class="nav__icon nav__icon--close"
            href="/src/images/icons.svg#close"
          ></use>
          </svg>
        </button>

        <div class="nav__menu" id="nav__menu" data-menu>

          <!-- Buy Now Modal Button -->
          <button type="button" class="header__mdl">
            <span class="header__mdl--env">Buy now</span>
          <span class="header__mdl--thmb">
            <svg class="header__mdl--arrow" width="6" height="8">
              <use href="/src/images/icons.svg#arrow-right"></use>
            </svg>
          </span>
          </button>

          <!-- Navigation Menu -->
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about_us" class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="#how_it_is_made" class="nav__link">How it's made?</a>
            </li>
            <li class="nav__item">
              <a href="#our_products" class="nav__link">Our products</a>
            </li>
            <li class="nav__item">
              <a href="#contacts" class="nav__link">Contact</a>
            </li>
          </ul>
          
        </div>
    </nav>
  </div>
</header>
