<header class="page-header" data-page-header>
  <div class="container page-header__wrap">
    <a
      class="logo page-header__logo"
      href="./index.html"
      aria-label="Home page"
    >
      <svg class="logo__thumb" width="199" height="50">
        <use class="logo__icon" href="./images/icons.svg#logo"></use>
      </svg>
    </a>

    <nav class="page-header__menu">
      <ul class="nav">
        <li class="nav__item nav__item--current">
          <a class="nav__link js-scroll" href="#home">Home</a>
        </li>

        <li class="nav__item">
          <a class="nav__link js-scroll" href="#about_us">About us</a>
        </li>

        <li class="nav__item">
          <a class="nav__link js-scroll" href="#how_it_is_made"
            >How it's made?</a
          >
        </li>

        <li class="nav__item">
          <a class="nav__link js-scroll" href="#our_products">Our products</a>
        </li>

        <li class="nav__item">
          <a class="nav__link js-scroll" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      class="menu-toggle page-header__menu-toggle js-open-menu"
      aria-label="Open Menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="20" height="12">
        <use href="./images/icons.svg#burger" />
      </svg>
    </button>

    <button
      class="btn btn--bold btn--secondary page-header__cta js-open-modal"
      type="button"
      data-modal="1"
    >
      <span class="btn__text">Buy now</span>
      <svg class="btn__icon" width="6" height="10">
        <use href="./images/icons.svg#arrow-right" />
      </svg>
    </button>
  </div>
</header>
