<section class="hero">
  <div class="container hero__container">
    <div class="hero-content">
      <div class="hero-content__block">
        <h1
          class="hero-content__top-text top-text top-text--light top-text--large"
        >
          ice cream made with
          <span class="hero-content__title title">passion</span>
        </h1>
        <ul class="hero-content__menu">
          <li class="hero-content__item">
            <a
              href="#our_products"
              class="hero-content__btn hero-content__btn--colored"
              ><span class="btn__text">Products</span></a
            >
          </li>
          <li class="hero-content__item">
            <a
              href="#how_it_is_made"
              class="hero-content__btn hero-content__btn--uncolored"
              ><span class="btn__text">How it’s made?</span></a
            >
          </li>
        </ul>
      </div>
      <div class="hero-content__circle hero-content__circle--top"></div>
      <img
        class="hero-content__icon"
        srcset="
          ./images/hero/icecream-mob.png     171w,
          ./images/hero/icecream-mob@2x.png  342w,
          ./images/hero/icecream-tab.png     143w,
          ./images/hero/icecream-tab@2x.png  286w,
          ./images/hero/icecream-desk.png    236w,
          ./images/hero/icecream-desk@2x.png 472w
        "
        sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px, 171px"
        src="./images/hero/icecream-mob.png"
        alt="big ice cream"
      />
    </div>
    <div class="hero-other">
      <img
        class="hero-other__carafe"
        srcset="
          ./images/hero/milk-tab.png     152w,
          ./images/hero/milk-tab@2x.png  304w,
          ./images/hero/milk-desk.png    213w,
          ./images/hero/milk-desk@2x.png 426w
        "
        sizes="(min-width: 1200px) 213px, (min-width: 768px) 152px"
        src="./images/hero/milk-tab.png"
        alt="carafe of milk"
      />
      <div class="hero-slider">
        <p class="hero-slider__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <div class="slider-hidden">
          <button class="slider-hidden__button" type="button">
            <img
              class="slider-hidden__icon"
              src="./images/hero/arrow-right-desk.png"
              alt="Arrow Button"
            />
          </button>
          <!-- <p class="slider-hidden__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit
          </p> -->
        </div>
      </div>
      <ul class="achiv">
        <li class="achiv__item">
          <p class="achiv__number title">16</p>
          <p class="achiv__text">cafes</p>
        </li>
        <li class="achiv__item">
          <p class="achiv__number title">23</p>
          <p class="achiv__text">food trucks</p>
        </li>
      </ul>
      <img
        class="hero-other__tasty"
        srcset="
          ./images/hero/sotasty-tab.png     190w,
          ./images/hero/sotasty-tab@2x.png  380w,
          ./images/hero/sotasty-desk.png    304w,
          ./images/hero/sotasty-desk@2x.png 608w
        "
        sizes="(min-width: 1200px) 304px, (min-width: 768px) 190px"
        src="./images/hero/sotasty-tab.png"
        alt="a person eats ice cream and says so tasty!"
      />
    </div>
  </div>
</section>
