<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button
    class="menu-toggle mobile-menu__close js-close-menu"
    aria-label="Close menu"
  >
    <svg width="20" height="20">
      <use href="./images/icons.svg#close" />
    </svg>
  </button>

  <button
    class="btn btn--bold btn--secondary js-open-modal"
    data-modal="1"
    type="button"
  >
    <span class="btn__text">Buy now</span>
    <svg class="btn__icon" width="6" height="10">
      <use href="./images/icons.svg#arrow-right" />
    </svg>
  </button>

  <ul class="mobile-nav mobile-menu__item">
    <li class="mobile-nav__item mobile-nav__item--current">
      <a href="#home" class="mobile-nav__link js-scroll"> Home </a>
    </li>
    <li class="mobile-nav__item">
      <a href="#about_us" class="mobile-nav__link js-scroll">About us</a>
    </li>
    <li class="mobile-nav__item">
      <a href="#how_it_is_made" class="mobile-nav__link js-scroll">
        How it's made?
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="#our_products" class="mobile-nav__link js-scroll">
        Our products
      </a>
    </li>
    <li class="mobile-nav__item">
      <a href="#contacts" class="mobile-nav__link js-scroll">Contacts</a>
    </li>
  </ul>

  <ul class="mobile-contacts mobile-menu__item mobile-menu__item--contacts">
    <li class="mobile-contacts__item">
      <a
        href="tel:+610383766284"
        class="mobile-contacts__link mobile-contacts__link--highlighted"
      >
        +61 (0) 383 766 284
      </a>
    </li>

    <li class="mobile-contacts__item">
      <a href="mailto:info@devstudio.com" class="mobile-contacts__link">
        info@devstudio.com
      </a>
    </li>
  </ul>

  <ul class="mobile-soc mobile-menu__item">
    <li class="mobile-soc__item">
      <a
        href="https://github.com"
        class="mobile-soc__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="Github"
      >
        <svg class="mobile-soc__icon" width="32" height="32">
          <use href="./images/icons.svg#github"></use>
        </svg>
      </a>
    </li>

    <li class="mobile-soc__item">
      <a
        href="https://web.telegram.org"
        class="mobile-soc__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="Telegram"
      >
        <svg class="mobile-soc__icon" width="32" height="32">
          <use href="./images/icons.svg#telegram"></use>
        </svg>
      </a>
    </li>

    <li class="mobile-soc__item">
      <a
        href="https://facebook.com"
        class="mobile-soc__link"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="Facebook"
      >
        <svg class="mobile-soc__icon" width="32" height="32">
          <use href="./images/icons.svg#facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
