<section class="products" id="our_products">
  <div class="container products__container">
    <p class="products__top-text top-text">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="grid grid--tablet-3 products__list">
      <li
        class="grid__item products__item products__item--first"
        data-aos="fade-right"
        data-aos-offset="0"
        data-aos-duration="700"
      >
        <h3 class="products__item-title top-text top-text--light title">
          ice cream
        </h3>
        <svg class="products__icon" width="26" height="6">
          <use href="./images/icons.svg#ellipses"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
          <span class="products__mobile-text">
            dolore magna aliqua facilisis.
          </span>
        </p>
        <button
          type="button"
          class="btn btn--inverse btn--circle products__button btn--first"
          aria-label="Product Description"
        >
          <svg height="12" width="12">
            <use href="./images/icons.svg#arrow-right-02"></use>
          </svg>
        </button>

        <div class="products-overlay__first visually-hidden">
          <h3 class="products-overlay__title top-text top-text--light title">compound:</h3>
          <ul class="products-overlay__compound-list">
            <li class="products-overlay__text products__text">natural milk</li>
            <li class="products-overlay__text products__text">natural cream</li>
            <li class="pproducts-overlay__text products__text">butter</li>
            <li class="products-overlay__text products__text">sugar</li>
            <li class="products-overlay__text products__text">vanillin</li>
          </ul>
          <h3 class="products-overlay__title top-text top-text--light title">price:</h3>
          <ul class="products-overlay__price-list">
            <li class="products-overlay__text products__text">chocolate: 1,5 $</li>
            <li class="products-overlay__text products__text">strawberry : 1,5 $</li>
            <li class="products-overlay__text products__text">banana: 1,5 $</li>
          </ul>
        </div>
      </li>
      <li
        class="grid__item products__item products__item--second"
        data-aos="fade-up"
        data-aos-offset="0"
        data-aos-duration="700"
      >
        <h3 class="products__item-title top-text top-text--light title">
          ice coffee
        </h3>
        <svg class="products__icon" width="26" height="6">
          <use href="./images/icons.svg#ellipses"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
          <span class="products__mobile-text">
            dolore magna aliqua facilisis.
          </span>
        </p>
        <button
          type="button"
          class="btn btn--inverse btn--circle products__button btn--second"
          aria-label="Product Description"
        >
          <svg height="12" width="12">
            <use href="./images/icons.svg#arrow-right-02"></use>
          </svg>
        </button>

        <div class="products-overlay__second visually-hidden">
          <h3 class="products-overlay__title top-text top-text--light title">compound:</h3>
          <ul class="products-overlay__compound-list">
            <li class="products-overlay__text products__text">natural milk</li>
            <li class="products-overlay__text products__text">natural cream</li>
            <li class="pproducts-overlay__text products__text">butter</li>
            <li class="products-overlay__text products__text">sugar</li>
            <li class="products-overlay__text products__text">vanillin</li>
          </ul>
          <h3 class="products-overlay__title top-text top-text--light title">price:</h3>
          <ul class="products-overlay__price-list">
            <li class="products-overlay__text products__text">chocolate: 1,5 $</li>
            <li class="products-overlay__text products__text">strawberry : 1,5 $</li>
            <li class="products-overlay__text products__text">banana: 1,5 $</li>
          </ul>
        </div>

      </li>

      <li
        class="grid__item products__item products__item--third"
        data-aos="fade-left"
        data-aos-offset="0"
        data-aos-duration="700"
      >
        <h3 class="products__item-title top-text top-text--light title">
          milkshakes
        </h3>
        <svg class="products__icon" width="26" height="6">
          <use href="./images/icons.svg#ellipses"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
          <span class="products__mobile-text">
            dolore magna aliqua facilisis.
          </span>
        </p>
        <button
          type="button"
          class="btn btn--inverse btn--circle products__button btn--third"
          aria-label="Product Description"
        >
          <svg height="12" width="12">
            <use href="./images/icons.svg#arrow-right-02"></use>
          </svg>
        </button>

        <div class="products-overlay__third visually-hidden">
          <h3 class="products-overlay__title top-text top-text--light title">compound:</h3>
          <ul class="products-overlay__compound-list">
            <li class="products-overlay__text products__text">natural milk</li>
            <li class="products-overlay__text products__text">natural cream</li>
            <li class="pproducts-overlay__text products__text">butter</li>
            <li class="products-overlay__text products__text">sugar</li>
            <li class="products-overlay__text products__text">vanillin</li>
          </ul>
          <h3 class="products-overlay__title top-text top-text--light title">price:</h3>
          <ul class="products-overlay__price-list">
            <li class="products-overlay__text products__text">chocolate: 1,5 $</li>
            <li class="products-overlay__text products__text">strawberry : 1,5 $</li>
            <li class="products-overlay__text products__text">banana: 1,5 $</li>
          </ul>
        </div>

      </li>
    </ul>
  </div>
</section>
