.container {
  $padding: 20px;

  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    $padding-tablet: 32px;

    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
    width: 768px;
  }

  @include mq(desktop) {
    $padding-desktop: 16px;

    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
    width: 1200px;
  }
}
