.container {
  $px: calc($gap * 1.25);
  padding-left: $px;
  padding-right: $px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tablet) {
    $px-tablet: calc($gap * 2);
    padding-left: $px-tablet;
    padding-right: $px-tablet;
    width: 768px;
  }

  @include mq(desktop) {
    padding-left: $gap;
    padding-right: $gap;
    width: 1200px;
  }
}

.container--no-paddings {
  padding-left: 0;
  padding-right: 0;
}
