.title {
  @include font(34px, 1.15, 400, 0.04em);
  font-family: $font-stack-secondary;
  text-transform: uppercase;
  color: $color-accent;

  @include mq(tablet) {
    @include font(48px, 1.14, 400, 0.04em);
  }

  @include mq(desktop) {
    @include font(58px, 1.14, 400, 0.06em);
  }
}
