.about {
  background-color: $color-secondary-lighter;

  // temporary
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(mobile) {
    background-image: url(../images/about/milk-bg-mob.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 560px;

    @include mq(retina) {
      background-image: url(../images/about/milk-bg-mob@2x.png);
    }
  }

  @include mq(tablet) {
    background-image: none;
  }
}

.about__top-text {
  @include centeredFlex($type: flex);
}

.about__title {
  @include centeredFlex($type: flex);
  margin-top: 15px;
}

.about__flex {
  margin-top: 32px;
  @include mq(tablet) {
    display: flex;
    margin-top: 40px;
  }
  @include mq(desktop) {
    align-items: center;
    margin-top: 60px;
  }
}

.about__picture {
  @include mq(tablet) {
    margin-right: 32px;
  }

  @include mq(desktop) {
    margin-right: 100px;
  }
}

.about__content {
  @include mq(mobile-only) {
    padding-right: 60px;
  }

  @include mq(tablet) {
    max-width: 334px;
  }

  @include mq(desktop) {
    max-width: 463px;
  }
}

.about__first-text {
  font-weight: 500;

  color: $color-text;

  @include mq(mobile-only) {
    font-size: 12px;
    line-height: 162%;
    margin-top: 40px;
  }

  @include mq(tablet) {
    font-size: 14px;
    line-height: 176%;
  }

  @include mq(desktop) {
    font-size: 16px;
  }
}

.about__second-text,
.about__third-text {
  font-weight: 500;
  color: $color-text-light;

  @include mq(mobile) {
    margin-top: 25px;
    font-size: 12px;
    line-height: 162%;
  }

  @include mq(tablet) {
    font-size: 14px;
    line-height: 176%;
    margin-top: 20px;
  }

  @include mq(desktop) {
    font-size: 16px;
    margin-top: 32px;
  }
}

.about__btn {
  margin-top: 20px;

  @include mq(tablet) {
    margin-top: 40px;
  }
}
