.advantages {
  padding-top: calc($padding-section / 3);
  padding-bottom: calc($padding-section / 2);
  overflow-x: hidden;

  background-color: $color-secondary-lighter;

  @include mq(tablet) {
    padding-top: calc($padding-section / 2);
  }
  @include mq(desktop) {
    padding-bottom: $padding-section;
  }
}

.advantages__container {
  @include mq(mobile-only) {
    max-width: 480px;
  }
}

.advantages__item {
  &::before {
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 16px;
    @include mq(tablet) {
      margin-bottom: 36px;
    }
    @include mq(desktop) {
      margin-bottom: 40px;
    }
  }
}

.advantages__item--milk {
  &::before {
    background-image: url('../images/svg/advantage-01.svg');
  }
}

.advantages__item--apples {
  &::before {
    background-image: url('../images/svg/advantage-02.svg');
  }
}

.advantages__item--heart {
  &::before {
    background-image: url('../images/svg/advantage-03.svg');
  }
}

.advantages__title {
  display: flex;
  margin-bottom: 4px;
  @include font(36px, 1.14, 400, 0.04em);
  font-family: $font-stack-secondary;
  color: $color-accent;
  @include mq(mobile-only) {
    text-transform: uppercase;
  }
  @include mq(tablet) {
    margin-bottom: 13px;
    font-size: 48px;
  }
  @include mq(desktop) {
    margin-bottom: 16px;
    font-size: 58px;
  }
}

.advantages__count,
.advantages__kg {
  opacity: 0;
}

.advantages__discription {
  @include font(12px, 1.7, 700);
  max-width: 288px;
  @include mq(mobile-only) {
    padding-right: 16%;
  }
  @include mq(tablet) {
    font-size: 14px;
  }
  @include mq(desktop) {
    @include font(16px, 1.8, 700, 0.02em);
  }
}
