.contacts {
  padding-bottom: calc($padding-section / 3);
  padding-top: calc($padding-section / 2);

  overflow-x: hidden;

  background-image: linear-gradient(
    to bottom,
    transparent 21.5%,
    $color-secondary-lighter 21.5%
  );

  @include mq(tablet) {
    padding-top: calc($padding-section / 1.5);

    background-image: linear-gradient(
      to bottom,
      transparent 47.5%,
      $color-secondary-lighter 47.5%
    );
  }
  @include mq(desktop) {
    padding-bottom: $padding-section;
    padding-top: $padding-section;

    background-image: linear-gradient(
      to bottom,
      transparent 20%,
      $color-secondary-lighter 20%
    );
  }
}

.contacts__container {
  @include mq(mobile-only) {
    max-width: 480px;
  }
  @include mq(tablet) {
    padding-left: $gap;
    padding-right: $gap;
  }
}

.contact-location__text,
.contact-info__link,
.contact-location__label {
  @include mq(mobile-only) {
    font-size: 12px;
    line-height: 1.5;
  }
  @include mq(tablet-only) {
    font-size: 14px;
    line-height: 1.83;
  }
}

.schedule-time,
.schedule-day {
  line-height: 1.86;
  @include mq(mobile-only) {
    font-size: 12px;
  }
  @include mq(tablet-only) {
    font-size: 14px;
  }
}

.contacts-list {
  @extend %list;
  font-weight: 500;
  margin-top: -20px;

  &__item {
    position: relative;
    margin-top: 20px;
    padding: 40px 32px;

    background-color: $bg-body;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    transition: 500ms;
    transition-property: filter, transform;

    @include mq(tablet) {
      &:hover {
        transform: scale(1.04);
      }

      .contacts-list:hover &:not(:hover) {
        filter: blur(3px);
      }
    }

    // hotfix for hover issue
    &::before {
      @include mq(tablet) {
        content: '';
        position: absolute;
        top: -20px;
        bottom: 0;
        left: -16px;
        right: -16px;
        z-index: -1;
      }
      @include mq(desktop) {
        left: -32px;
        right: -32px;
      }
    }
  }

  &__link {
    font-size: 12px;
    background-color: $color-coffee;
    text-transform: uppercase;
    border-radius: 4px;
    max-width: 80px;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: $color-text-lighter;
    justify-content: center;
    flex-wrap: nowrap;
    @include mq(tablet) {
      font-size: $font-size;
    }
    &--foodtruck {
      font-size: 12px;
      max-width: 138px;
      text-transform: uppercase;
      background-color: $color-milkshakes;
      color: $color-text-lighter;
      border-radius: 4px;
      display: flex;
      text-align: center;
      letter-spacing: 0.04em;
      justify-content: center;
      flex-wrap: nowrap;
      @include mq(tablet) {
        font-size: $font-size;
      }
    }
  }
}

.contact-location {
  margin-top: calc($gap * 1.25);
  margin-bottom: 24px;

  @include mq(tablet) {
    margin-top: calc($gap * 2);
    margin-bottom: calc($gap * 2);
  }

  &__label {
    margin-bottom: 8px;
    @include mq(tablet-only) {
      margin-bottom: 12px;
    }
  }

  &__text {
    color: $color-text-light;

    @include mq(mobile-only) {
      max-width: 179px;
    }
    @include mq(desktop) {
      max-width: 243px;
    }
  }
}

.schedule-list {
  @extend %list;
  padding-bottom: 24px;
  padding-top: 24px;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @include mq(tablet) {
    padding-bottom: calc($gap * 2);
    padding-top: calc($gap * 2);
  }
}

.schedule-time {
  color: $color-secondary;
}

.contact-info {
  padding-top: 24px;

  &__list {
    @extend %list;
  }

  &__link {
    color: $color-text-light;
    transition: $transition-duration $transition-animation;
    transition-property: color;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}

.btn-list {
  @extend %list;
  margin-top: calc($gap * 2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include mq(tablet) {
    margin-top: $padding-section;
    flex-direction: row;
    gap: 14.5px;
  }

  @include mq(desktop) {
    gap: 12px;
  }
}
