.customer-reiews {
  padding-bottom: calc($padding-section / 2);
  padding-top: calc($padding-section / 2);
  overflow-x: hidden;

  @include mq(tablet) {
    padding-bottom: calc($padding-section / 1.5);
  }
  @include mq(desktop) {
    padding-bottom: $padding-section;
    padding-top: $padding-section;
  }
}

.customer-reiews__container {
  @include mq(mobile-only) {
    max-width: 480px;
  }
}

.customer-reiews__item {
  margin-bottom: $gap;
  text-align: center;

  @include mq(tablet) {
    margin-bottom: calc($gap * 2);
  }
}

.customer-reiews__logo {
  display: block;
  height: 85px;
  width: 85px;

  margin-bottom: calc($gap * 2);
  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;

  @include mq(tablet) {
    margin-bottom: calc($gap * 1.25);
  }
  @include mq(desktop) {
    margin-bottom: $gap;
  }
}

.customer-reiews__quote {
  position: relative;

  margin-bottom: $gap;
  margin-left: auto;
  margin-right: auto;
  padding: 43px 50px 17px;

  text-align: center;
  background-color: $bg-customer-sliders;

  @include mq(tablet) {
    max-width: 620px;
    padding: 37px 6px;
    margin-bottom: 4px;
  }
  @include mq(tablet-only) {
    background-color: rgba($bg-customer-sliders, 0.4);
  }
  @include mq(desktop) {
    max-width: 968px;
    padding: 47px 74px 31px;
    margin-bottom: $gap;
  }
}

.customer-reiews__text {
  position: relative;
  padding-left: $gap;
  padding-right: $gap;
  @include font(12px, 2.54, 500);
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 30px,
    $color-border 30px,
    $color-border 31px
  );
  border-bottom: 1px solid $color-border;

  @include mq(tablet) {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq(desktop) {
    font-size: 16px;
    line-height: 1.86;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.customer-reiews__quote-icon {
  position: absolute;
  top: 30px;
  left: 53px;
  width: 54px;
  height: 40px;
  fill: $color-border;
  transition: $transition-duration $transition-animation;
  transition-property: transform;

  @include mq(tablet) {
    top: 20px;
    left: 6px;
  }

  @include mq(tablet-only) {
    width: 60px;
  }

  @include mq(desktop) {
    top: 30px;
    left: 80px;
  }

  .customer-reiews__quote:hover & {
    transform: translateY(-50px);
    @include mq(tablet-only) {
      transform: translateY(-40px);
    }
  }
}

.customer-reiews__name {
  @include font(14px, 1.86, 500);

  @include mq(tablet) {
    font-size: 16px;
  }

  @include mq(desktop) {
    font-size: 20px;
  }

  &::before {
    content: '';

    display: block;
    width: 32px;
    height: 4px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: $gap;

    background-image: url(../images/svg/ellipse-group.svg);
    background-position: center;
    background-size: cover;
  }
}

.slick-switchers-item:not(:last-child) {
  margin-right: 18px;
}

.slick-switchers-list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.slick-switchers-icon {
  width: 12px;
  height: 12px;
  background-image: url(../images/svg/ellipse.svg);
  background-repeat: no-repeat;
  background-size: contain;

  .slick-switchers-item--active &,
  .slick-active button:before {
    background-image: url(../images/svg/house.svg);
  }
}

// Slick overrides
.slick-dots {
  bottom: -40px;
}

.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
  height: 13px;
  width: 13px;
}

.slick-dots li {
  margin: 0 9px;
}

.slick-dots li button:before {
  font-size: 13px;
  background-color: $bg-customer-markers;
  border-radius: 50%;
  opacity: 1;
  content: '';
}
.slick-dots li.slick-active button:before {
  background-color: transparent;
  border-radius: 0;
  opacity: 1;
  background-image: url(../images/svg/house.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
