.gallery {
  overflow: hidden;
  background-image: linear-gradient(
    to bottom,
    $color-secondary-lighter 29%,
    transparent 29%
  );

  padding-bottom: calc($padding-section / 2);
  padding-top: calc($padding-section / 2);

  @include mq(tablet) {
    background-image: linear-gradient(
      to bottom,
      $color-secondary-lighter 56.5%,
      transparent 56.5%
    );
  }
  @include mq(desktop) {
    background-image: linear-gradient(
      to bottom,
      $color-secondary-lighter 31%,
      transparent 31%
    );

    padding-bottom: $padding-section;
    padding-top: $padding-section;
  }
}

.gallery__list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.gallery__item:not(:last-child) {
  margin-right: 3px;
  @include mq(tablet) {
    margin-right: 6px;
  }
  @include mq(desktop) {
    margin-right: 8px;
  }
}

.gallery__pic {
  display: block;
  transition: transform $transition-duration $transition-animation;

  &:hover {
    transform: scale(1.2) rotate(-1deg) !important; // need for aos overrides
    z-index: 1;
    position: relative;
  }

  & + & {
    margin-top: 2px;
    @include mq(tablet) {
      margin-top: 6px;
    }
    @include mq(desktop) {
      margin-top: 8px;
    }
  }
}

.gallery__pic--w50 {
  width: 50%;
}

.gallery__item {
  &:first-child {
    padding-top: 14%;
  }
  &:nth-child(2) {
    padding-top: 9%;
  }
  &:nth-child(4) {
    padding-top: 10%;
  }
  &:nth-child(5) {
    padding-top: 6.5%;
  }
  &:nth-child(6) {
    padding-top: 15%;
  }
}
