.gallery .container {
}

.gallery {
  background-image: linear-gradient(
    to bottom,
    $color-secondary-lighter 30%,
    transparent 30%
  );
  padding-top: 20px;
}

.gallery__list {
  width: 100vw;
  margin-left: -20px;
  display: flex;
  list-style: none;
}

.gallery__item:not(:last-child) {
  margin-right: 2px;
}

.gallery__pic {
  display: block;
}

.gallery__pic--margin {
  margin-bottom: 2px;
}

.gallery__pic-5 {
  width: 50%;
}

.gallery__item {
  &:first-child {
    padding-top: 14%;
  }
  &:nth-child(2) {
    padding-top: 9%;
  }
  &:nth-child(4) {
    padding-top: 10%;
  }
  &:nth-child(5) {
    padding-top: 6.5%;
  }
  &:nth-child(6) {
    padding-top: 15%;
  }
}
