$circle-content-z: 0;
$img-content-z: 1;
$text-content-z: 2;

.hero {
  background-color: $color-secondary-light;
  overflow: hidden;
  @include mq(desktop) {
    padding-top: $padding-section;

    // background: linear-gradient(
    //     45deg,
    //     rgb(255, 184, 202),
    //     rgba(252, 168, 189, 0.7),
    //     rgba(250, 139, 167, 0.7),
    //     rgba(250, 199, 212, 0.7)
    //   )
    //   0 0 / 1000% no-repeat;
    // animation: gradientAnimation 30s ease infinite;
  }
  // @keyframes gradientAnimation {
  //   0% {
  //     background-position: 0% 30%, 0 0;
  //   }
  //   50% {
  //     background-position: 100% 70%, 0 0;
  //   }
  //   100% {
  //     background-position: 0% 30%, 0 0;
  //   }
  // }
  &__container {
    position: relative;
    min-height: 502px;
    @include mq(tablet) {
      min-height: 416px;
    }
    @include mq(desktop) {
      min-height: 606px;
    }
  }
}

.hero-content {
  &__block {
    position: absolute;
    bottom: 160px;
    z-index: $text-content-z;
    @include mq(tablet) {
      bottom: 173px;
    }
    @include mq(desktop) {
      bottom: 316px;
    }
  }
  &__top-text {
    max-width: 218px;
    margin-bottom: 20px;
    line-height: 1.145;

    @include mq(tablet) {
      max-width: 173px;
      font-size: 22px;
    }
    @include mq(desktop) {
      max-width: 316px;
      font-size: 38px;
    }
  }
  &__title {
    font-size: 48px;
    line-height: 0.965;
    @include mq(tablet) {
      font-size: 34px;
      line-height: 0.905;
    }
    @include mq(desktop) {
      font-size: 58px;
      line-height: 0.905;
    }
  }
  &__menu {
    display: flex;
  }
  &__item {
    @extend %list;
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__btn {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;
    border: 1px solid;

    transition: $transition-animation $transition-duration;
    transition-property: background-color, border-color, color;

    @include mq(desktop) {
      height: 40px;
      font-size: 14px;
      line-height: 1.3;
    }
  }
  &__btn--colored {
    min-width: 61px;
    color: $color-text-lighter;
    background-color: $color-accent;
    border-color: $color-accent;
    &:hover,
    &:focus {
      background-color: $color-accent-dark;
      border-color: $color-accent-dark;
    }
    @include mq(desktop) {
      min-width: 107px;
    }
  }
  &__btn--uncolored {
    min-width: 82px;
    color: $color-accent;
    background-color: $bg-button-secondary;
    border-color: $bg-button-secondary;
    &:hover,
    &:focus {
      background-color: $bg-button-secondary-active;
      border-color: $bg-button-secondary-active;
    }
    @include mq(desktop) {
      min-width: 138px;
    }
  }
  &__circle {
    position: absolute;
    border-radius: 50%;
    background-color: $color-secondary;
    z-index: $circle-content-z;
    &--top {
      width: 346px;
      height: 344px;

      bottom: 75px;
      right: -62px;
    }
    @include mq(tablet) {
      bottom: 40px;
      right: 185px;
      width: 335px;
      height: 333px;
    }
    @include mq(desktop) {
      bottom: 76px;
      right: 149px;
      width: 534px;
      height: 534px;
    }
  }

  &__icon {
    position: absolute;
    bottom: 0px;
    right: 32px;
    z-index: $img-content-z;
    @include mq(tablet) {
      right: 303px;
    }
    @include mq(desktop) {
      right: 328px;
    }
  }
}

.hero-other {
  @include mq(mobile-only) {
    display: none;
  }
  &__carafe {
    position: absolute;
    bottom: 16px;
    @include mq(desktop) {
      bottom: 60px;
    }
  }
  &__tasty {
    position: absolute;
    bottom: 0;
    right: 32px;
    @include mq(desktop) {
      right: 16px;
    }
  }
}

.hero-slider {
  position: absolute;
  bottom: 56px;
  left: 184px;
  @include mq(desktop) {
    bottom: 84px;
    left: 229px;
  }
  &__text {
    margin-bottom: 7px;

    max-width: 114px;
    font-size: 8px;
    line-height: 1.5;
    color: $color-text-lighter;
    @include mq(desktop) {
      margin-bottom: 20px;

      max-width: 200px;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.slider-hidden {
  position: relative;
  &__button {
    padding: 5px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: $color-accent;
    fill: $color-accent;
    background-color: $bg-button-secondary;
    border-color: transparent;

    transform: translateX(0) rotateY(0);

    @include mq(desktop) {
      padding: 8px;
      width: 26px;
      height: 26px;
    }
  }
  &__button-transition {
    transform: scale(1);
    transition-property: box-shadow, transform;
    transition-duration: 500ms;
    transition-timing-function: $transition-animation;
    &:hover,
    &:focus {
      transform: scale(1.2);
      box-shadow: -5px 0px 7px rgba(212, 20, 67, 0.25);
    }
    &.is-open {
      @include mq(tablet) {
        transform: translateX(115px) rotateY(180deg) scale(1.2);
      }
      @include mq(desktop) {
        transform: translateX(200px) rotateY(180deg) scale(1.2);
      }
    }
  }

  &__text {
    position: absolute;
    top: -4px;
    max-width: 114px;
    font-size: 8px;
    line-height: 1.5;
    pointer-events: none;
    color: $color-text-lighter;

    opacity: 0;
    transition: opacity 500ms $transition-animation;
    @include mq(desktop) {
      max-width: 200px;
      font-size: 14px;
      line-height: 1.4;
    }
    .slider-hidden__button-transition.is-open + & {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.achiv {
  position: absolute;
  top: 96px;
  right: 42px;
  @include mq(desktop) {
    top: 152px;
    right: 34px;
  }
  &__item {
    @extend %list;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  &__number {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;

    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    color: $color-accent;
    @include mq(desktop) {
      margin-bottom: 2px;

      font-size: 46px;
      line-height: 1.15;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;

    color: $color-text-lighter;
    @include mq(desktop) {
      font-size: 14px;
      line-height: 1.29;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-text-lighter;
      z-index: 0;
      top: -2px;
      right: -10px;

      @include mq(desktop) {
        width: 30px;
        height: 30px;
        right: -18px;
      }
    }
  }
}

.fadeLeft {
  animation-name: fadeLeft;
  animation-duration: 1500ms;
  animation-delay: 50ms;
  animation-fill-mode: both;
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeRight {
  animation-name: fadeRight;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-delay: 720ms;
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.fadeBottom {
  animation-name: fadeBottom;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-delay: 100ms;
}
@keyframes fadeBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.slideCenter {
  animation-name: slideCenter;
  animation-duration: 1700ms;
  animation-fill-mode: both;
  animation-delay: 700ms;
}
@keyframes slideCenter {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.circle-container {
  @include mq(desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    transform-origin: left center;
    .circle {
      position: absolute;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.3);
      left: 0;
      opacity: 0;
      animation-name: move;
      animation-duration: 20s;
      animation-iteration-count: infinite;
    }
  }
  @keyframes move {
    0% {
      transform: translateX(0px);
      opacity: 0;
    }

    1% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      transform: translateX(70vmin);
      opacity: 0;
    }
  }
}
