.products {
  padding-bottom: $padding-section;
  padding-top: $padding-section;
  overflow: hidden;
}

.products__top-text {
  margin-bottom: $gap;
  text-align: center;
}

.products__title {
  margin-bottom: 8px;
  text-align: center;

  @include mq(tablet-only) {
    margin-bottom: 20px;
  }
}

.products__list {
  padding-top: 140px;

  @include mq(mobile-only) {
    align-items: center;
    flex-direction: column;
  }
  @include mq(tablet) {
    padding-top: 158px;
  }
  @include mq(desktop) {
    padding-top: 281px;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 24px;

  @include mq(mobile-only) {
    max-width: 280px;
    min-height: 489px;
    padding: 160px 39px 40px 41px;
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }

  @include mq(tablet-only) {
    min-height: 473px;
    padding: 118px 32px 40px;
  }

  @include mq(desktop) {
    min-height: 535px;
    padding: 165px 62px 60px 61px;
  }
}

.products__item::before {
  content: '';

  position: absolute;
  left: 0;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(mobile-only) {
    top: -140px;
    height: 280px;
  }
  @include mq(tablet-only) {
    top: -138px;
    height: 224px;
  }

  @include mq(desktop) {
    top: -280px;
    height: 394px;
  }
}

.products__item--first {
  background-color: $color-secondary-light;

  &::before {
    background-image: url(../images/products/ice-mob.png);
    @include mq(retina) {
      background-image: url(../images/products/ice-mob@2x.png);
    }
    @include mq(tablet-only) {
      background-image: url(../images/products/ice-tab.png);
      @include mq(retina) {
        background-image: url(../images/products/ice-tab@2x.png);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/products/ice-desk.png);
      @include mq(retina) {
        background-image: url(../images/products/ice-desk@2x.png);
      }
    }
  }
}

.products__item--second {
  background-color: $color-coffee;

  &::before {
    background-image: url(../images/products/shake-mob.png);
    @include mq(retina) {
      background-image: url(../images/products/shake-mob@2x.png);
    }
    @include mq(tablet-only) {
      background-image: url(../images/products/shake-tab.png);
      @include mq(retina) {
        background-image: url(../images/products/shake-tab@2x.png);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/products/shake-desk.png);
      @include mq(retina) {
        background-image: url(../images/products/shake-desk@2x.png);
      }
    }
  }
}

.products__item--third {
  background-color: $color-milkshakes;

  &::before {
    background-image: url(../images/products/shoko-mob.png);
    @include mq(retina) {
      background-image: url(../images/products/shoko-mob@2x.png);
    }
    @include mq(tablet-only) {
      background-image: url(../images/products/shoko-tab.png);
      @include mq(retina) {
        background-image: url(../images/products/shoko-tab@2x.png);
      }
    }
    @include mq(desktop) {
      background-image: url(../images/products/shoko-desk.png);
      @include mq(retina) {
        background-image: url(../images/products/shoko-desk@2x.png);
      }
    }
  }
}

.products__item-title {
  font-size: 20px;
  @include mq(desktop) {
    font-size: 34px;
    line-height: 1.13;
  }
}

.products__icon {
  margin: 32px auto;
  fill: $color-text-lighter;
}

.products__text {
  @include font(14px, 1.52, 700, 0.04em);
  color: $color-text-lighter;
  @include mq(tablet) {
    line-height: 1.76;
  }
  @include mq(desktop) {
    font-size: 16px;
  }
}

.products__mobile-text {
  @include mq(tablet) {
    display: none;
  }
}

.products__button {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;

  transition-property: background-color, border-color, color, fill, transform;

  @include mq(desktop) {
    margin-top: 60px;
  }

  &:hover,
  &:focus {
    transform: rotate(-90deg);
  }
}
